body{
	background-color: #00cccc;
	font-family: "Comic Sans MS", Comic Sans MS;
}

#round, #tries{
	text-align: center;
}

/*iframe {
  display: none;
}*/



#score{
	padding-left: 20%;
}

div.start{
	text-align: center;
	margin-top: 3%;
}
.define > .sub_def{
	padding-left: 8%;
}

.hint > .sub_hint {
	padding-left: 20%;
}

.input > .sub_input{
	padding-left: 20%;
}

div.container{
	border-top: solid;
	border-bottom: solid;
	border-color: dimgray;
	display: flex;
	margin-top: 3%;
}

div.container2{
	display: flex;
	flex-direction: column;
	padding-left: 5%;
}

div.define{
	margin-left: 17%;
	width: 25%;
	padding-right: 8%;
	padding-top: 5%;
}

ul.navi {
	top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 10%;
	background-color: darkblue;
	position: fixed;
	height: 100%;
	overflow: auto;
	font-size: 12px;
}

li a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	color: white;
}

li a.active{
	background-color: black;
	color: white;
}

li a:hover:not(.active){
	background-color: #555;
	color: white;
}